@use "../../../styles/variables";
@import "../../../styles/mixins";

.item-card {
  overflow: auto;
  background-color: white;
  border-radius: 2px;
  padding: 24px 24px 28px 24px;
  height: 100vh;
  max-height: calc(100svh - 150px);
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 100%;
  .item-detail {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-height: 60%;
    padding-bottom: 24px;
    gap: 24px;
    border-bottom: 1px solid variables.$background;
    &__image {
      display: flex;
      justify-content: center;
      width: 500px;
      flex-grow: 1;
      img {
        height: 100%;
      }
    }
    @media screen and (width <= 900px) {
      flex-direction: column;
      flex-wrap: wrap;
      max-height: fit-content;
      &__image {
        width: 100%;
      }
    }
  }
  .item-description {
    min-width: 50%;
    h3 {
      font-size: 22px;
      font-weight: 400;
      margin-bottom: 16px;
      color: rgba(0, 0, 0, 0.8);
    }
    p {
      font-size: 18px;
      font-weight: 400;
    }
  }
}
