@use "./variables";
@import "./mixins";

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body {
  color: variables.$foreground;
  background: variables.$background;
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: column;
}

* {
  font-family: var(--font-variable), Arial, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  flex-grow: 1;
  height: 100%;
  max-height: calc(100dvh - 116px);
  padding: 30px;
  width: 100%;
  max-width: variables.$maxWidth;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.visually-hidden {
  position: absolute;
  z-index: -1;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: 0 -1px -1px 0;
  overflow: hidden;
  padding: 0;
  display: block;
}
