@use "../../styles/variables";
@import "../../styles/mixins";

.item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px;
  gap: 24px;
  background: white;
  width: 100%;
  margin-bottom: 2px;
  &__image {
    width: 259px;
    height: 250px;
    @include flex-inline-center;
    img {
      height: 100%;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 25px;
    &__wrapper {
      &__title {
        font-size: 20px;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.9);
        margin-bottom: 6px;
        a {
          color: rgba(0, 0, 0, 0.9);
          text-decoration: none;
        }
      }
      &__subtitle {
        font-size: 14px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.55);
      }
    }
    &__price {
      &__previous-price {
        font-size: 12px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.55);
        text-decoration: line-through;
      }
      &__current-price {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 14px;
        font-size: 24px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.9);
        &__discount {
          font-size: 14px;
          font-weight: 400;
          color: variables.$highlight;
        }
      }
      &__installments {
        font-size: 14px;
        font-weight: 400;
        color: variables.$highlight;
      }
    }
    &__shipping {
      font-size: 12px;
      font-weight: 600;
      color: variables.$highlight;
    }
    &__condition {
      text-transform: capitalize;
      font-size: 14px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.55);
    }
  }
}
